# Lecture 1 - Markdown Cells and Print Function

There are different ways of changing fonts in a markdown cell. We can set the font size or use hashtags

<font size = "10">
large text

<font size = "4">
medium text

<font size = "1">
small text


<font size = "4">


# large text

### medium text

##### small text

In [1]:
print("Hello World!")

Hello World!

# Lecture 2 - Libraries and Datasets

In [6]:
# math library (typically covered with numpy)
import math
print(math.log2(8))

3.0

In [7]:
# statistics library (typically covered with numpy)
import statistics
print(statistics.mean([1, 7, 3, 5, 9, 1, 12]))
print(statistics.median([1, 7, 3, 5, 9, 1, 12]))
print(statistics.geometric_mean([1, 7, 3, 5, 9, 1, 12]))

5.428571428571429
5
3.795163026589841

In [37]:
# give the libraries / modules nicknames
import matplotlib.pyplot as plt # this library is important for data visualization
import pandas as pd # this library is important for working with data

In [ ]:
# reading and working with datasets
import pandas as pd
carfeatures = pd.read_csv("data copy/features.csv") # reads in features dataset
display(carfeatures) # Entering the name of a dataframe produces an output with some rows
display(carfeatures['cylinders']) # extract cylinders variable
help (pd.crosstab) # the "help" keyword can be used to learn more about a command

In [ ]:
# crosstab counts how many rows fall into categories
# "index" is the category
# "columns" is a custom title
table = pd.crosstab(index = carfeatures['cylinders'],columns = "count")
display(table)

# we can also crosstabulate between 2 columns of carfeatures
table_2 = pd.crosstab(index = carfeatures['cylinders'],columns = carfeatures['mpg'])
display(table_2)

In [ ]:
# "describe" computes the count, mean, std, min, 25% quantile, 50%, 75%, max
# automatically excludes variables with text values
# otherwise includes all numeric variables

display(carfeatures.describe())
display(round(carfeatures.describe(), 2)) # rounds to two digits
display(round(carfeatures.describe(percentiles=[.33,.66]), 2)) # changes code to print 33 and 66 percentile instead of automatic 25 and 75

In [ ]:
# scatterplot
plt.scatter(x = carfeatures['weight'], y = carfeatures['mpg'])
plt.show()

# Lecture 4 - Assignment Operators, Variables, Lists
##### Skipped Lecture 3

In [ ]:
# we can use the built in type functions to check an object's type
print(type(3)) # integer
print(type(3.25)) # float
print(type("Hello World!")) # string
print(type(print)) # built-in function

In [ ]:
# the = in python is NOT AN EQUAL SIGN. IT IS CALLED AN ASSIGNMENT OPERATOR
x = 3 # takes the integer 3 and assigns it to a new variable x
y = 3.25 # takes the float 3.25 and assigns it to a new variable y
# everything to the right of "=" happens first
print(x)
print(y)

In [ ]:
# we can check our variables by pressing jupyter variables as the top
record_price = 32.99
fulton_tax_rate = 0.089
dekalb_tax_rate = 0.08

fulton_cost = record_price + record_price * fulton_tax_rate
fulton_cost = round(fulton_cost, 2) # round to 2 decimal places
print(fulton_cost)

dekalb_cost = record_price + record_price * dekalb_tax_rate
dekalb_cost = round(dekalb_cost, 2) # round to 2 decimal places
print(dekalb_cost)


price_difference = fulton_cost - dekalb_cost
print(round(price_difference, 2)) # need to re round the final result as well

In [ ]:
# lists can contain objects of different types and can contain variables; can even have a list contain another list as one of its objects
q = 12.1
my_list = [2, 0.1, -2, "DATASCI 151", 3.3, "Statistical Computing II", q, 'q']
print(my_list)

# Lecture 5 - Tuples, Strings, Concatenation

In [ ]:
list_of_numbers = [5, 3, 2, 0]
tuple_of_numbers = (5, 3, 2, 0)

print(list_of_numbers) # lists are changeable
print(tuple_of_numbers) # tuples are not changeable
print()
print(type(list_of_numbers))
print(type(tuple_of_numbers)) # can also make tuples without explicitly including parenthesis

In [ ]:
# we can also use strings, which are sequences of characters
my_name = "Natasha Strauss"

print(type(my_name)) 
print()
print(my_name[0]) # Character zero of string (a capital "N") 
print(my_name[4]) # Character four of string (lowercase "s")
print(my_name[5]) # Character five of string (lowercase "h")
print(my_name[7]) # Character six of string (space)
print(my_name[10]) # Character ten of string (lowercase "r")

# print(my_name[67]) there is no Character 67 so it would cause an error
# python starts all counts from zero
# strings are not changeable

In [35]:
# the "+" operator can be used to concatenate lists, strings, or tuples
list_1 = [2, 3, 5, 11]
list_2 = [1, -4, 2, 0]
list_3 = list_1 + list_2
print(list_3)

first_name = "Natasha"
last_name = "Strauss"
my_name = first_name + last_name
print(my_name)

my_list = ["sequence", "Python", 1.2, 0] + [5, -3] # we don't necessarily need to create variables before concatenating
print(my_list)

my_name2 = "Natasha" + " " + "P." + " " + "Strauss" + "!"
print(my_name2)

my_tuple = (1,) + (2, 3, 4, 5, 6, 7, 8, 9) # need a comma after the 1 so it works in the tuple
print(my_tuple)

[2, 3, 5, 11, 1, -4, 2, 0]
NatashaStrauss
['sequence', 'Python', 1.2, 0, 5, -3]
Natasha P. Strauss!
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# Effect of parentheses/brackets/commas when defining an object
var_1 = 1
var_2 = (1)
var_3 = (1,)
var_4 = 1,
var_5 = [1]
var_6 = [1,]

print(type(var_1))
print(type(var_2))
print(type(var_3))
print(type(var_4))
print(type(var_5))
print(type(var_6))

# Lecture 6 - Visualization, Numpy, Math Operations

In [ ]:
# create bar plot

categories = ["Freshman", "Sophomore", "Junior", "Senior"]
num_students = [22, 21, 31, 25] # the number of students will be attached to the respective category

plt.bar(x = categories, height = num_students)
plt.ylabel("Number registered")
plt.title("DATASCI 151 - Spring 2026 students")
plt.show()

In [ ]:
# import the library "np" is the standard nickname
import numpy as np

# the most common way to create a numpy array is to convert a list into a numpy array

list_of_numbers = [5.6, 2.9, 9.7, -10, 0, 3]

array_of_numbers = np.array(list_of_numbers)

print(type(array_of_numbers))
print(array_of_numbers)
display(array_of_numbers)

# usually, we would create the numpy array in a single line, without defining a separate list first

array_of_numbers2 = np.array([5.6, 2.9, 9.7, -10, 0, 3])


# you can access elements of arrays in the same way as lists:
print(array_of_numbers2[0])
print(array_of_numbers2[4])

In [ ]:
# numpy arrays are nice because you can do numerical operations on them
array_1 = np.array([2, 3, 5, 11])
array_2 = np.array([1, -4, 2, 0])

# the "+" operation adds the elements of the two arrays together
print(array_1 + array_2)

# can also do operations with a constant
a = np.array([3, 11, -2.2])
print(a + 2)

In [ ]:
# mathematical operations
print(3.2 + 1.7) # addition
print(5 - 11) # subtraction
print(4 * 3) # multiplication
print(1 / 7) # division
print(2**5) # exponenet

# order of operations matters!!!
right_answer = (13 + 8) / 3
wrong_answer = 13 + 8 / 3
print(right_answer)
print(wrong_answer)

In [ ]:
my_var = 2

print(np.log(my_var)) #ln(x)
print(np.exp(my_var)) #e^x
print(np.sin(my_var)) # sin(x) in radians
print(np.cos(my_var)) # cos(x) in radians
print(np.sqrt(my_var)) # square root of x

print(np.pi) # pi = circle's circumference/circle's diameter

print(np.e) # Euler's number = limit of (1 + 1/n)^n as n goes to infinity

print(np.exp(1)) # another way to calculate Euler's number

# or you can just use a 2
print(np.log(2))

In [ ]:
# plotting with numpy
# Create list of equally spaced points from -1.5 to 1.5
# We'll choose points 0.25 apart
x_vals = [-1.5, -1.25, -1, -0.75, -0.5, -0.25, 0, 0.25, 0.5, 0.75, 1, 1.25, 1.5]

# Convert to numpy array
x_vals = np.array(x_vals)

# Create new numpy array with the function evaluated at the same points
y_vals = x_vals**3 - 2*x_vals + 0.5

# Use plt.scatter to create scatter plot
plt.scatter(x = x_vals, y = y_vals)
plt.show()

# convert list to numpy array right away
t_vals = np.array( [0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5] )

# Evaluate function and create new array 
g_of_t = np.exp(t_vals**2) - np.sqrt(t_vals) + 1

# Use plt.scatter to create scatter plot
plt.scatter(x = t_vals, y = g_of_t)
plt.show()

# Lecture 7 - Booleans, Logical Operators, Control Statements

In [ ]:
# Boolean Objects (true or false)
print(type(True))
print(type(False))

print()

# Adding quotes results in string objects
print(type("True"))
print(type('False'))

In [ ]:
# comparison operators
print(5>3)
print(6<=4)
print (9<3)
print(2>=7)
print(5*3 == 15)
print(3 - 2 != 7) #not equal

In [ ]:
# booleans with strings
x = "Hello World!"
y = "Hello World !"

print(x == "Hello World!")
print(y == "Hello World!")

print(x != y)

print('ab' == 'ba')

list_1 = ["blue", "red", "green"]
list_2 = ["blue", "red", "green"]
list_3 = ["red", "green", "blue"]
list_4 = ["red", "green", "blue", "violet"]

print(list_1 == list_2)
print(list_1 == list_3) # False: different ordering
print(list_3 == list_4) # False: different number of elements
print(list_3 != list_4) # True

In [ ]:
# when comparing numpy arrays, a seperate boolean expression is returned for each element
vec_a = np.array([1,2,3])
vec_b = np.array([1,2,4])

print(vec_a == vec_b)

vec_c = np.array([10, 5, 3])
vec_d = np.array([20, 10, 8])
print(vec_c >= vec_d)

In [ ]:
# The first way to use the "in" command is to check whether a word is contained in a sentence. This can be useful if you're trying to search for patterns

sentence = "The Federal Reserve makes forecasts about many economic outcomes"


keyword = "economic"
print(keyword in sentence)

keyword = "bank"
print(keyword in sentence)

search_word = "Federal" 
print(search_word in sentence)

important_word = "federal"
print(important_word in sentence)

print("F" in sentence)

# Use the keyword "in" to see if a number belongs to a NumPy Array
# (Also works for lists)

s = np.array([1.0, 3.0, -17, 12])
print(1 in s)

t = [0, 22, "PAIS 557"]

print(2 in t)
# In the previous cell, "1 in s" evaluated to True because the integer 1 and the floating point number 1.0 are regarded as equal

In [ ]:
# logical operators: not, and, or
age  = 22

# True or false? This person can vote in the U.S.

print(not age < 18)

# Sometimes introducing an intermediate variable can make things more clear

age = 22 

statement = age < 18
print(statement) 

print(not statement)

# Sometimes introducing an intermediate variable can make things more clear

age = 22 

statement = age < 18
print(statement) 

print(not statement)

price = 24.5

list_prices = [32.5, 13, 0.99, 15.96]

# True or false? The price is greater than 10 dollars and is one of the elements of list_prices

print(price > 10 and price in list_prices)

# or checks or

statement_1 = price > 10 
statement_2 = price in list_prices

print(statement_1)
print(statement_2)
print(statement_1 or statement_2)

# can seperate with parentheses for readability
x = 13
y = -5
z = False

P = (x > y) and (not z) and (x*y < 0)
print(P)

Q = (x == 5) or (y > 10) or (x + y > 0)
print(Q)

In [ ]:
# create empty lists
good_movies = [] 
ok_movies = []
bad_movies = []

cut_off_1 = 7.0 # minimum rating for "good movie"
cut_off_2 = 6.0 # minimum rating for "ok movie"


title_1 = "The Umbrellas of Cherbourg"
imdb_rating_1 = 7.8 

title_2 = "M3gan" 
imdb_rating_2 = 6.3 

title_3 = "Psycho" 
imdb_rating_3 = 8.5 

title_4 = "Melania"
imdb_rating_4 = 1.3

# Divide movies between the three lists
# print a warning if we encounter a bad movie

if imdb_rating_1 >= cut_off_1:
    good_movies = good_movies + [title_1] # add movie to good_movies
elif imdb_rating_1 >= cut_off_2:
    ok_movies = ok_movies + [title_1] # add movie to ok_movies
else:
    bad_movies = bad_movies + [title_1] # add movie to bad_movies
    print("Warning! Bad movie alert:", title_1) # ALSO: print warning message

if imdb_rating_2 >= cut_off_1:
    good_movies = good_movies + [title_2]  
elif imdb_rating_2 >= cut_off_2:
    ok_movies = ok_movies + [title_2]
else:
    bad_movies = bad_movies + [title_2]
    print("Warning! Bad movie alert:", title_2)


if imdb_rating_3 >= cut_off_1:
    good_movies = good_movies + [title_3] 
elif imdb_rating_3 >= cut_off_2:
    ok_movies = ok_movies + [title_3]
else:
    bad_movies = bad_movies + [title_3]
    print("Warning! Bad movie alert:", title_3)


if imdb_rating_4 >= cut_off_1:
    good_movies = good_movies + [title_4] 
elif imdb_rating_4 >= cut_off_2:
    ok_movies = ok_movies + [title_4]
else:
    bad_movies = bad_movies + [title_4]
    print("Warning! Bad movie alert:", title_4)


print(good_movies)
print(ok_movies)
print(bad_movies)

## Lecture 7 Supplement - Numpy Arrays, Summary Statistics, Histograms

In [ ]:
# index elements in a numpy array
favorite_movies = ["Rear Window", "Inception", "Dead Poet Society", "Baby Driver", "Evil Dead (2013 remake)"]

print(favorite_movies[0]) # first element
print(favorite_movies[1]) # second element
print(favorite_movies[2]) # third element
print()
print(favorite_movies[-1]) # last element
print(favorite_movies[-2]) # second-to-last element
print(favorite_movies[-3]) # third-to-last element

In [ ]:
my_list = [7, 5, "Emory", -7, "Atlanta"]

print(my_list)

# add new item to the end of the list using the "append" method.
my_list.append("Department of Data and Decision Sciences")
print(my_list)

In [ ]:
# create lists
numerical_list = [5.3, 25, -0.1, -5, 11, 3, 1.2]
string_list = ["Frank", "Zev", "Peter", "Abigail", "Ali", "Eleanor"]

# sort them
numerical_list.sort()
string_list.sort()

# print out sorted versions
print(numerical_list)
print(string_list)

In [ ]:
# copy a list
list_of_floats = [2.3, -1.0, 5.1, 9.9]

copy_of_list = list_of_floats.copy()

list_of_floats[0] = "Nothing"

print(copy_of_list)

# reverse the order of a list
colors = ["blue", "green", "red", "orange", "pink", "purple"]

colors.reverse()

print(colors)

# count the number of times an item appears in the list
fav_colors = ["blue", "pink", "black", "pink", "red", "blue", "green", "black", "pink"]

pink_count = fav_colors.count("pink")

print(pink_count) # prints "3", the number of times "pink" appears in the list

In [ ]:
# summary statistics
c_vec = np.array([4.2, 1.2, 11.45, -2, 0, 9, 3.3, 2*np.pi])


print(np.mean(c_vec)) # mean
print(np.std(c_vec)) # standard deviation
print(np.median(c_vec)) # median
print(np.max(c_vec)) # maximum
print(np.min(c_vec)) # minimum

# another method

print(c_vec.mean())
print(c_vec.std())

# arrays don't have a .median() method for some reason...

print(c_vec.max())
print(c_vec.min())

In [ ]:
# Generate a single sample from a standard Normal Distribution
# "Standard Normal" means the mean is zero, and the standard deviation is one.

normal_sample = np.random.normal()
print(normal_sample)

# generate 5 samples from a normal distribution with standard deviation = 2.4, and mean = -1
five_samples = np.random.normal(loc = -1, scale = 2.4, size = 5)
print(five_samples)

# run this cell 3 times, numbers will always be the same
np.random.seed(0) # set seed for reproduce
print(np.random.normal(loc = 0.5, scale = 3, size = 4))

In [ ]:
import matplotlib.pyplot as plt

np.random.seed(1989)


sample_size = 1000

standard_normal_samples = np.random.normal(size = sample_size)

plt.hist(x = standard_normal_samples)
plt.xlabel("Values drawn from Distribution")
plt.ylabel("Frequency")
plt.title("Histogram of standard normal variable (1,000 samples)")
plt.show()